body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:368px;
  top:188px;
  width:1592px;
  height:4021px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1592px;
  height:4021px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2002px;
  width:1588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:351px;
  top:211px;
  width:48px;
  height:35px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:383px;
  top:220px;
  width:10px;
  height:17px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:90px;
  top:187px;
  width:280px;
  height:1562px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:1562px;
}
#u8 {
  position:absolute;
  left:2px;
  top:773px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:427px;
  top:215px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:461px;
  top:217px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:90px;
  top:70px;
  width:1870px;
  height:120px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:120px;
}
#u14 {
  position:absolute;
  left:2px;
  top:52px;
  width:1866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:196px;
  top:111px;
  width:534px;
  height:38px;
  font-size:32px;
  color:#003399;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:38px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:154px;
  top:389px;
  width:133px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:154px;
  top:338px;
  width:135px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:174px;
  top:227px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:108px;
  top:338px;
  width:27px;
  height:27px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:108px;
  top:390px;
  width:27px;
  height:27px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:110px;
  top:769px;
  width:238px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:221px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:238px;
  height:2px;
}
#u28 {
  position:absolute;
  left:155px;
  top:870px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:155px;
  top:926px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:174px;
  top:810px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:108px;
  top:870px;
  width:27px;
  height:27px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:108px;
  top:926px;
  width:27px;
  height:27px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1860px;
  top:309px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1611px;
  top:343px;
  width:290px;
  height:122px;
  overflow:hidden;
  visibility:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:122px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:120px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:120px;
}
#u42 {
  position:absolute;
  left:2px;
  top:52px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:26px;
  top:21px;
  width:68px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:104px;
  top:18px;
  width:90px;
  height:22px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45_input:disabled {
  color:grayText;
}
#u46 {
  position:absolute;
  left:104px;
  top:58px;
  width:90px;
  height:22px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:104px;
  top:90px;
  width:56px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:154px;
  top:491px;
  width:67px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:154px;
  top:441px;
  width:199px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:108px;
  top:441px;
  width:27px;
  height:27px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:108px;
  top:495px;
  width:27px;
  height:27px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:155px;
  top:652px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:108px;
  top:652px;
  width:27px;
  height:27px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:155px;
  top:703px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:108px;
  top:703px;
  width:27px;
  height:27px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:154px;
  top:546px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:108px;
  top:550px;
  width:27px;
  height:27px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:154px;
  top:601px;
  width:111px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:108px;
  top:601px;
  width:27px;
  height:27px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:108px;
  top:287px;
  width:27px;
  height:27px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:154px;
  top:287px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:1760px;
  top:135px;
  width:92px;
  height:17px;
  font-size:14px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1760px;
  top:109px;
  width:80px;
  height:19px;
  font-size:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:1676px;
  top:97px;
  width:64px;
  height:64px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u82 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1687px;
  top:109px;
  width:42px;
  height:42px;
  color:#333333;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u84 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1868px;
  top:117px;
  width:25px;
  height:25px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1676px;
  top:190px;
  width:263px;
  height:122px;
  overflow:hidden;
  visibility:hidden;
}
#u87_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:122px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:115px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:115px;
}
#u89 {
  position:absolute;
  left:2px;
  top:50px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:67px;
  top:64px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u90_img.mouseOver {
}
#u90.mouseOver {
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:30px;
  top:65px;
  width:20px;
  height:20px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:25px;
  top:20px;
  width:25px;
  height:25px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u95 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:67px;
  top:22px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u96_img.mouseOver {
}
#u96.mouseOver {
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:468px;
  top:310px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:830px;
  top:310px;
  width:84px;
  height:24px;
  font-size:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:970px;
  top:310px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:1081px;
  top:310px;
  width:139px;
  height:22px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u105 {
  position:absolute;
  left:1179px;
  top:310px;
  width:22px;
  height:19px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:391px;
  top:374px;
  width:1549px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:1532px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1549px;
  height:1px;
}
#u108 {
  position:absolute;
  left:590px;
  top:308px;
  width:70px;
  height:27px;
  font-size:20px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:711px;
  top:310px;
  width:72px;
  height:24px;
  font-size:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:491px;
  top:434px;
  width:262px;
  height:32px;
  font-size:28px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:441px;
  top:430px;
  width:40px;
  height:40px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:92px;
  top:650px;
  width:277px;
  height:68px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:68px;
}
#u117 {
  position:absolute;
  left:2px;
  top:26px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:202px;
  top:670px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:152px;
  top:670px;
  width:27px;
  height:27px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u121 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:488px;
  top:2038px;
  width:1389px;
  height:442px;
  overflow:hidden;
}
#u122_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1389px;
  height:442px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u122_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:440px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:440px;
}
#u124 {
  position:absolute;
  left:2px;
  top:212px;
  width:1386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:10px;
  top:32px;
  width:1350px;
  height:393px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:393px;
}
#u126 {
  position:absolute;
  left:2px;
  top:188px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1389px;
  height:442px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u122_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:440px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:440px;
}
#u128 {
  position:absolute;
  left:2px;
  top:212px;
  width:1386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:7px;
  top:38px;
  width:853px;
  height:380px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:380px;
}
#u130 {
  position:absolute;
  left:2px;
  top:182px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:922px;
  top:14px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:922px;
  top:66px;
  width:452px;
  height:326px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:326px;
}
#u134 {
  position:absolute;
  left:2px;
  top:155px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:890px;
  top:25px;
  width:10px;
  height:375px;
}
#u135_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u135_end {
  position:absolute;
  left:-5px;
  top:358px;
  width:20px;
  height:18px;
}
#u135_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:375px;
}
#u136 {
  position:absolute;
  left:20px;
  top:14px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:706px;
  top:1980px;
  width:167px;
  height:60px;
  font-size:24px;
  color:#000000;
  text-align:left;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u139 {
  position:absolute;
  left:2px;
  top:16px;
  width:163px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:487px;
  top:1980px;
  width:174px;
  height:60px;
  font-size:24px;
  color:#000000;
  text-align:left;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:60px;
}
#u141 {
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:668px;
  top:1995px;
  width:10px;
  height:30px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u142_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u142_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u142_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:30px;
}
#u143 {
  position:absolute;
  left:487px;
  top:2548px;
  width:1390px;
  height:440px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:440px;
}
#u144 {
  position:absolute;
  left:2px;
  top:212px;
  width:1386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:493px;
  top:2569px;
  width:924px;
  height:399px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:399px;
}
#u146 {
  position:absolute;
  left:2px;
  top:192px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1433px;
  top:2575px;
  width:10px;
  height:379px;
}
#u147_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u147_end {
  position:absolute;
  left:-5px;
  top:362px;
  width:20px;
  height:18px;
}
#u147_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:379px;
}
#u148 {
  position:absolute;
  left:1457px;
  top:2575px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:1448px;
  top:2657px;
  width:418px;
  height:275px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:275px;
}
#u151 {
  position:absolute;
  left:2px;
  top:130px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:487px;
  top:2510px;
  width:145px;
  height:28px;
  font-size:24px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:1662px;
  top:1120px;
  width:161px;
  height:24px;
  font-size:20px;
  color:#0033FF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:493px;
  top:1107px;
  width:73px;
  height:28px;
  font-size:24px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:1013px;
  top:1127px;
  width:246px;
  height:32px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:32px;
}
#u159 {
  position:absolute;
  left:2px;
  top:8px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:493px;
  top:1528px;
  width:121px;
  height:28px;
  font-size:24px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:1662px;
  top:1530px;
  width:161px;
  height:24px;
  font-size:20px;
  color:#0033FF;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:493px;
  top:1169px;
  width:1309px;
  height:328px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:328px;
}
#u165 {
  position:absolute;
  left:2px;
  top:156px;
  width:1305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:542px;
  top:216px;
  width:150px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:521px;
  top:213px;
  width:10px;
  height:29px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u168_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u168_end {
  position:absolute;
  left:-5px;
  top:12px;
  width:20px;
  height:18px;
}
#u168_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:29px;
}
#u169 {
  position:absolute;
  left:493px;
  top:1566px;
  width:1357px;
  height:382px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:382px;
}
#u170 {
  position:absolute;
  left:2px;
  top:183px;
  width:1353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:951px;
  top:523px;
  width:10px;
  height:78px;
}
#u171_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u171_end {
  position:absolute;
  left:-5px;
  top:61px;
  width:20px;
  height:18px;
}
#u171_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:78px;
}
#u172 {
  position:absolute;
  left:1186px;
  top:523px;
  width:10px;
  height:78px;
}
#u172_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u172_end {
  position:absolute;
  left:-5px;
  top:61px;
  width:20px;
  height:18px;
}
#u172_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:78px;
}
#u173 {
  position:absolute;
  left:1414px;
  top:523px;
  width:10px;
  height:77px;
}
#u173_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u173_end {
  position:absolute;
  left:-5px;
  top:60px;
  width:20px;
  height:18px;
}
#u173_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:77px;
}
#u174 {
  position:absolute;
  left:713px;
  top:523px;
  width:10px;
  height:78px;
}
#u174_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u174_end {
  position:absolute;
  left:-5px;
  top:61px;
  width:20px;
  height:18px;
}
#u174_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:78px;
}
#u175 {
  position:absolute;
  left:497px;
  top:708px;
  width:426px;
  height:352px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:352px;
}
#u176 {
  position:absolute;
  left:2px;
  top:168px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:522px;
  top:745px;
  width:375px;
  height:278px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:278px;
}
#u178 {
  position:absolute;
  left:2px;
  top:131px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:497px;
  top:670px;
  width:145px;
  height:28px;
  font-size:24px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:1647px;
  top:523px;
  width:10px;
  height:77px;
}
#u181_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u181_end {
  position:absolute;
  left:-5px;
  top:60px;
  width:20px;
  height:18px;
}
#u181_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:77px;
}
#u182 {
  position:absolute;
  left:544px;
  top:573px;
  width:121px;
  height:28px;
  font-size:24px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:508px;
  top:517px;
  width:84px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:42px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:49px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:598px;
  top:523px;
  width:30px;
  height:30px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u187 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:622px;
  top:531px;
  width:42px;
  height:22px;
  font-size:18px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:790px;
  top:573px;
  width:121px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:750px;
  top:517px;
  width:91px;
  height:49px;
  font-size:42px;
  color:#000000;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:49px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:870px;
  top:531px;
  width:42px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:1020px;
  top:573px;
  width:121px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:998px;
  top:517px;
  width:71px;
  height:49px;
  font-size:42px;
  color:#000000;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:49px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:1074px;
  top:523px;
  width:30px;
  height:30px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u201 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1100px;
  top:531px;
  width:42px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:1278px;
  top:573px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:1228px;
  top:517px;
  width:85px;
  height:49px;
  font-size:42px;
  color:#000000;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:1308px;
  top:523px;
  width:30px;
  height:30px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u209 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:1334px;
  top:531px;
  width:42px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:1698px;
  top:573px;
  width:145px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:1696px;
  top:517px;
  width:85px;
  height:49px;
  font-size:42px;
  color:#000000;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:1776px;
  top:523px;
  width:30px;
  height:30px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u217 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1802px;
  top:531px;
  width:42px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:1488px;
  top:573px;
  width:121px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:1462px;
  top:517px;
  width:83px;
  height:49px;
  font-size:42px;
  color:#000000;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:49px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:1542px;
  top:523px;
  width:30px;
  height:30px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u225 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1568px;
  top:531px;
  width:42px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u228 {
  position:absolute;
  left:974px;
  top:708px;
  width:426px;
  height:352px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:352px;
}
#u229 {
  position:absolute;
  left:2px;
  top:168px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:986px;
  top:749px;
  width:401px;
  height:270px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:270px;
}
#u231 {
  position:absolute;
  left:2px;
  top:127px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:974px;
  top:670px;
  width:121px;
  height:28px;
  font-size:24px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:1450px;
  top:670px;
  width:97px;
  height:28px;
  font-size:24px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:1450px;
  top:708px;
  width:426px;
  height:352px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:352px;
}
#u237 {
  position:absolute;
  left:2px;
  top:168px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:1472px;
  top:746px;
  width:382px;
  height:276px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:276px;
}
#u239 {
  position:absolute;
  left:2px;
  top:130px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:840px;
  top:527px;
  width:30px;
  height:30px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u241 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:1782px;
  top:1733px;
  width:61px;
  height:48px;
  font-size:20px;
  color:#FF9900;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:48px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u244 {
  position:absolute;
  left:557px;
  top:1752px;
  width:1224px;
  height:10px;
}
#u244_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u244_end {
  position:absolute;
  left:1207px;
  top:-5px;
  width:18px;
  height:20px;
}
#u244_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1224px;
  height:2px;
}
