body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1959px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:369px;
  top:190px;
  width:1590px;
  height:1350px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1590px;
  height:1350px;
}
#u1 {
  position:absolute;
  left:2px;
  top:667px;
  width:1586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:89px;
  top:378px;
  width:280px;
  height:1162px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:1162px;
}
#u4 {
  position:absolute;
  left:2px;
  top:573px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:89px;
  top:190px;
  width:280px;
  height:190px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:190px;
}
#u6 {
  position:absolute;
  left:2px;
  top:87px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:370px;
  top:192px;
  width:1587px;
  height:74px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1587px;
  height:74px;
}
#u8 {
  position:absolute;
  left:2px;
  top:29px;
  width:1583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:404px;
  top:216px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:438px;
  top:218px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:89px;
  top:71px;
  width:1870px;
  height:120px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:120px;
}
#u14 {
  position:absolute;
  left:2px;
  top:52px;
  width:1866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:163px;
  top:107px;
  width:433px;
  height:42px;
  font-size:36px;
  color:#003399;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:42px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1851px;
  top:120px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1800px;
  top:110px;
  width:41px;
  height:41px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:195px;
  top:222px;
  width:70px;
  height:70px;
  color:#333333;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:109px;
  top:336px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:201px;
  top:568px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:201px;
  top:502px;
  width:107px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:201px;
  top:632px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:201px;
  top:698px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:201px;
  top:764px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:173px;
  top:426px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:151px;
  top:502px;
  width:27px;
  height:27px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:151px;
  top:570px;
  width:27px;
  height:27px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:151px;
  top:636px;
  width:27px;
  height:27px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:151px;
  top:700px;
  width:27px;
  height:27px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:151px;
  top:766px;
  width:27px;
  height:27px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:201px;
  top:1022px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:201px;
  top:956px;
  width:107px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:173px;
  top:884px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:151px;
  top:956px;
  width:27px;
  height:27px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:151px;
  top:1026px;
  width:27px;
  height:27px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:111px;
  top:838px;
  width:238px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:221px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:238px;
  height:1px;
}
#u58 {
  position:absolute;
  left:168px;
  top:307px;
  width:121px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:434px;
  top:360px;
  width:314px;
  height:230px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:230px;
}
#u61 {
  position:absolute;
  left:2px;
  top:107px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:459px;
  top:328px;
  width:120px;
  height:120px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u63 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:561px;
  top:488px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FC960F;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:459px;
  top:522px;
  width:256px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:239px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:256px;
  height:1px;
}
#u67 {
  position:absolute;
  left:614px;
  top:388px;
  width:61px;
  height:42px;
  font-size:36px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:464px;
  top:550px;
  width:112px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:489px;
  top:358px;
  width:60px;
  height:60px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:819px;
  top:360px;
  width:314px;
  height:230px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:230px;
}
#u74 {
  position:absolute;
  left:2px;
  top:107px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:844px;
  top:328px;
  width:120px;
  height:120px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u76 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:876px;
  top:488px;
  width:202px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#7266BA;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:24px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:844px;
  top:522px;
  width:256px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:239px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:256px;
  height:1px;
}
#u80 {
  position:absolute;
  left:1008px;
  top:388px;
  width:51px;
  height:42px;
  font-size:36px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:849px;
  top:550px;
  width:112px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:874px;
  top:358px;
  width:60px;
  height:60px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u85 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1590px;
  top:360px;
  width:314px;
  height:230px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:230px;
}
#u87 {
  position:absolute;
  left:2px;
  top:107px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1615px;
  top:328px;
  width:120px;
  height:120px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u89 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1662px;
  top:488px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#23B7E5;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1615px;
  top:522px;
  width:256px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:239px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:256px;
  height:1px;
}
#u93 {
  position:absolute;
  left:1620px;
  top:550px;
  width:144px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:1645px;
  top:358px;
  width:60px;
  height:60px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u96 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1206px;
  top:360px;
  width:314px;
  height:230px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:230px;
}
#u98 {
  position:absolute;
  left:2px;
  top:107px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1231px;
  top:328px;
  width:120px;
  height:120px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u100 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1322px;
  top:488px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#27C24C;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1231px;
  top:522px;
  width:256px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:239px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:256px;
  height:1px;
}
#u104 {
  position:absolute;
  left:1405px;
  top:396px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1236px;
  top:550px;
  width:144px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1261px;
  top:358px;
  width:60px;
  height:60px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u109 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1059px;
  top:422px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:674px;
  top:422px;
  width:21px;
  height:24px;
  font-size:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1787px;
  top:390px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:1830px;
  top:424px;
  width:21px;
  height:24px;
  font-size:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:1405px;
  top:434px;
  width:79px;
  height:24px;
  font-size:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:509px;
  top:654px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:509px;
  top:994px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:459px;
  top:650px;
  width:40px;
  height:40px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u125 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:459px;
  top:990px;
  width:40px;
  height:40px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u127 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:553px;
  top:740px;
  width:105px;
  height:30px;
  font-size:26px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:873px;
  top:740px;
  width:105px;
  height:30px;
  font-size:26px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1196px;
  top:740px;
  width:105px;
  height:30px;
  font-size:26px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1458px;
  top:740px;
  width:79px;
  height:30px;
  font-size:26px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:530px;
  top:804px;
  width:152px;
  height:24px;
  font-size:20px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:845px;
  top:804px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:1200px;
  top:804px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:1474px;
  top:804px;
  width:46px;
  height:24px;
  font-size:20px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:24px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:530px;
  top:844px;
  width:1221px;
  height:10px;
}
#u144_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_end {
  position:absolute;
  left:1204px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1221px;
  height:1px;
}
#u145 {
  position:absolute;
  left:1646px;
  top:740px;
  width:105px;
  height:30px;
  font-size:26px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:1672px;
  top:804px;
  width:52px;
  height:24px;
  font-size:20px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:537px;
  top:1136px;
  width:60px;
  height:60px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u150 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:537px;
  top:1266px;
  width:60px;
  height:60px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u152 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:537px;
  top:1396px;
  width:60px;
  height:60px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u154 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:990px;
  top:1146px;
  width:21px;
  height:42px;
  font-size:36px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:1091px;
  top:1146px;
  width:21px;
  height:42px;
  font-size:36px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:1192px;
  top:1146px;
  width:21px;
  height:42px;
  font-size:36px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:1293px;
  top:1146px;
  width:21px;
  height:42px;
  font-size:36px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1394px;
  top:1146px;
  width:21px;
  height:42px;
  font-size:36px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:1495px;
  top:1146px;
  width:21px;
  height:42px;
  font-size:36px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:1596px;
  top:1146px;
  width:21px;
  height:42px;
  font-size:36px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:990px;
  top:1276px;
  width:21px;
  height:42px;
  font-size:36px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:1091px;
  top:1276px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:1192px;
  top:1276px;
  width:38px;
  height:42px;
  font-size:36px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:42px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:1293px;
  top:1276px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:1394px;
  top:1276px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:1495px;
  top:1276px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:1596px;
  top:1276px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:990px;
  top:1406px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u185 {
  position:absolute;
  left:1091px;
  top:1406px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:1192px;
  top:1406px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:1293px;
  top:1406px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u191 {
  position:absolute;
  left:1394px;
  top:1406px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:1495px;
  top:1406px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u195 {
  position:absolute;
  left:1596px;
  top:1406px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:1272px;
  top:1136px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u198 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:663px;
  top:1146px;
  width:217px;
  height:42px;
  font-size:36px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u201 {
  position:absolute;
  left:663px;
  top:1276px;
  width:217px;
  height:42px;
  font-size:36px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u203 {
  position:absolute;
  left:663px;
  top:1406px;
  width:217px;
  height:42px;
  font-size:36px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:929px;
  top:1128px;
  width:10px;
  height:76px;
}
#u205_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u205_end {
  position:absolute;
  left:-5px;
  top:59px;
  width:20px;
  height:18px;
}
#u205_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:76px;
}
#u206 {
  position:absolute;
  left:929px;
  top:1258px;
  width:10px;
  height:76px;
}
#u206_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u206_end {
  position:absolute;
  left:-5px;
  top:59px;
  width:20px;
  height:18px;
}
#u206_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:76px;
}
#u207 {
  position:absolute;
  left:929px;
  top:1388px;
  width:10px;
  height:76px;
}
#u207_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u207_end {
  position:absolute;
  left:-5px;
  top:59px;
  width:20px;
  height:18px;
}
#u207_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:76px;
}
#u208 {
  position:absolute;
  left:1374px;
  top:1136px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u209 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:1474px;
  top:1136px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u211 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:1576px;
  top:1136px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u213 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1172px;
  top:1136px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u215 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:1070px;
  top:1136px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u217 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:970px;
  top:1136px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u219 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:1373px;
  top:1266px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:1473px;
  top:1266px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u223 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:1575px;
  top:1266px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u225 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1171px;
  top:1266px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u227 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:1069px;
  top:1266px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u229 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:969px;
  top:1266px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u231 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:1373px;
  top:1396px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u233 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:1473px;
  top:1396px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u235 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1575px;
  top:1396px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u237 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:1171px;
  top:1396px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u239 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:1069px;
  top:1396px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u241 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:969px;
  top:1396px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u243 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:1272px;
  top:1266px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u245 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:1271px;
  top:1396px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u247 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:969px;
  top:1396px;
  width:62px;
  height:62px;
  font-size:36px;
  color:#FFFFFF;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u249 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:1852px;
  top:120px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u252 {
  position:absolute;
  left:1801px;
  top:110px;
  width:41px;
  height:41px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u253 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:89px;
  top:1539px;
  width:1870px;
  height:131px;
  font-size:48px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:131px;
}
#u255 {
  position:absolute;
  left:2px;
  top:38px;
  width:1866px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:537px;
  top:1080px;
  width:226px;
  height:32px;
  font-size:28px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:530px;
  top:880px;
  width:152px;
  height:24px;
  font-size:20px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u260 {
  position:absolute;
  left:845px;
  top:880px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u262 {
  position:absolute;
  left:1200px;
  top:880px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u264 {
  position:absolute;
  left:1474px;
  top:880px;
  width:46px;
  height:24px;
  font-size:20px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:24px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u266 {
  position:absolute;
  left:530px;
  top:920px;
  width:1221px;
  height:10px;
}
#u266_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u266_end {
  position:absolute;
  left:1204px;
  top:-5px;
  width:18px;
  height:20px;
}
#u266_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1221px;
  height:1px;
}
#u267 {
  position:absolute;
  left:1672px;
  top:880px;
  width:52px;
  height:24px;
  font-size:20px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
