body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:487px;
  top:216px;
  width:13px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:510px;
  top:218px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:92px;
  top:612px;
  width:277px;
  height:68px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:68px;
}
#u5 {
  position:absolute;
  left:2px;
  top:26px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:202px;
  top:632px;
  width:107px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:152px;
  top:632px;
  width:27px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:400px;
  top:280px;
  width:1560px;
  height:1030px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1560px;
  height:1030px;
}
#u11 {
  position:absolute;
  left:2px;
  top:507px;
  width:1556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:600px;
  top:216px;
  width:13px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:623px;
  top:218px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:480px;
  top:324px;
  width:225px;
  height:32px;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:430px;
  top:320px;
  width:40px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:578px;
  top:396px;
  width:140px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:487px;
  top:396px;
  width:76px;
  height:24px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:848px;
  top:396px;
  width:140px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:757px;
  top:396px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1118px;
  top:396px;
  width:140px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u26_input:disabled {
  color:grayText;
}
#u27 {
  position:absolute;
  left:1026px;
  top:396px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:803px;
  top:446px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:969px;
  top:446px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1136px;
  top:446px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1282px;
  top:446px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1414px;
  top:446px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1760px;
  top:446px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:520px;
  top:446px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:803px;
  top:494px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:979px;
  top:494px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1136px;
  top:494px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:1274px;
  top:494px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1436px;
  top:494px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:520px;
  top:494px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1368px;
  top:395px;
  width:140px;
  height:22px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u55_input:disabled {
  color:grayText;
}
#u56 {
  position:absolute;
  left:1297px;
  top:395px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1762px;
  top:487px;
  width:38px;
  height:38px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u59 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:956px;
  top:970px;
  width:400px;
  height:20px;
  overflow:hidden;
}
#u60_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u63_img.mouseDown {
}
#u63.mouseDown {
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:360px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u65_img.mouseDown {
}
#u65.mouseDown {
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:270px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:60px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:90px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:120px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:150px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:180px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:210px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:240px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:300px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:330px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u60_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u91_img.mouseDown {
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u91.mouseDown {
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:360px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u93_img.mouseDown {
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u93.mouseDown {
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:270px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:60px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:90px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:120px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:150px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:180px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:210px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:240px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:300px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:330px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u60_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117 {
  position:absolute;
  left:196px;
  top:55px;
  width:204px;
  height:22px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u118 {
  position:absolute;
  left:0px;
  top:58px;
  width:201px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:637px;
  top:446px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:629px;
  top:494px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:1574px;
  top:446px;
  width:108px;
  height:24px;
  font-size:20px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1616px;
  top:494px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:803px;
  top:538px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:979px;
  top:538px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1136px;
  top:538px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1274px;
  top:538px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:1436px;
  top:538px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:520px;
  top:538px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:1762px;
  top:531px;
  width:38px;
  height:38px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u141 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:629px;
  top:538px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:1616px;
  top:538px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:803px;
  top:582px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:979px;
  top:582px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:1136px;
  top:582px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:1274px;
  top:582px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:1436px;
  top:582px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:520px;
  top:582px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:1762px;
  top:575px;
  width:38px;
  height:38px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u159 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:629px;
  top:582px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:1616px;
  top:582px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:802px;
  top:626px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:978px;
  top:626px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:1136px;
  top:626px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:1274px;
  top:626px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:1436px;
  top:626px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:520px;
  top:626px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:1762px;
  top:619px;
  width:38px;
  height:38px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u177 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:628px;
  top:626px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:1616px;
  top:626px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:803px;
  top:670px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:979px;
  top:670px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:1136px;
  top:670px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:1274px;
  top:670px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:1436px;
  top:670px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:520px;
  top:670px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:1762px;
  top:663px;
  width:38px;
  height:38px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u195 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:629px;
  top:670px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:1616px;
  top:670px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:803px;
  top:713px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:979px;
  top:713px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:1136px;
  top:713px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:1274px;
  top:713px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:1436px;
  top:713px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:520px;
  top:713px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:1762px;
  top:706px;
  width:38px;
  height:38px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u213 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:629px;
  top:713px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:1616px;
  top:713px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:803px;
  top:757px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:979px;
  top:757px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:1136px;
  top:757px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:1274px;
  top:757px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:1436px;
  top:757px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u228 {
  position:absolute;
  left:520px;
  top:757px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:1762px;
  top:750px;
  width:38px;
  height:38px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u231 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:629px;
  top:757px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:1616px;
  top:757px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:802px;
  top:801px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:978px;
  top:801px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:1136px;
  top:801px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:1274px;
  top:801px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u244 {
  position:absolute;
  left:1436px;
  top:801px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u246 {
  position:absolute;
  left:520px;
  top:801px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u248 {
  position:absolute;
  left:1762px;
  top:794px;
  width:38px;
  height:38px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u249 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:628px;
  top:801px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u252 {
  position:absolute;
  left:1616px;
  top:801px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u254 {
  position:absolute;
  left:803px;
  top:845px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u256 {
  position:absolute;
  left:979px;
  top:845px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:1136px;
  top:845px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u260 {
  position:absolute;
  left:1274px;
  top:845px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u262 {
  position:absolute;
  left:1436px;
  top:845px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u264 {
  position:absolute;
  left:520px;
  top:845px;
  width:12px;
  height:24px;
  font-size:20px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u266 {
  position:absolute;
  left:1762px;
  top:838px;
  width:38px;
  height:38px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u267 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:629px;
  top:845px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u270 {
  position:absolute;
  left:1616px;
  top:845px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u272 {
  position:absolute;
  left:802px;
  top:889px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u274 {
  position:absolute;
  left:978px;
  top:889px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u276 {
  position:absolute;
  left:1136px;
  top:889px;
  width:39px;
  height:24px;
  font-size:20px;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u278 {
  position:absolute;
  left:1274px;
  top:889px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u280 {
  position:absolute;
  left:1436px;
  top:889px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u282 {
  position:absolute;
  left:520px;
  top:889px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u284 {
  position:absolute;
  left:1762px;
  top:882px;
  width:38px;
  height:38px;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u285 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:628px;
  top:889px;
  width:77px;
  height:24px;
  font-size:20px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u288 {
  position:absolute;
  left:1616px;
  top:889px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u290 {
  position:absolute;
  left:520px;
  top:936px;
  width:115px;
  height:24px;
  font-size:20px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
