body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:378px;
  top:198px;
  width:1592px;
  height:4021px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1592px;
  height:4021px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2002px;
  width:1588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:361px;
  top:221px;
  width:48px;
  height:35px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:393px;
  top:230px;
  width:10px;
  height:17px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:197px;
  width:280px;
  height:1562px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:1562px;
}
#u8 {
  position:absolute;
  left:2px;
  top:773px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:437px;
  top:225px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:471px;
  top:227px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:100px;
  top:80px;
  width:1870px;
  height:120px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:120px;
}
#u14 {
  position:absolute;
  left:2px;
  top:52px;
  width:1866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:420px;
  top:122px;
  width:385px;
  height:38px;
  font-size:32px;
  color:#003399;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:164px;
  top:399px;
  width:133px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:164px;
  top:348px;
  width:135px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:184px;
  top:237px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:118px;
  top:348px;
  width:27px;
  height:27px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:118px;
  top:400px;
  width:27px;
  height:27px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:120px;
  top:725px;
  width:238px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:221px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:238px;
  height:2px;
}
#u28 {
  position:absolute;
  left:165px;
  top:826px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:165px;
  top:882px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:184px;
  top:766px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:118px;
  top:826px;
  width:27px;
  height:27px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:118px;
  top:882px;
  width:27px;
  height:27px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1870px;
  top:319px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1621px;
  top:353px;
  width:290px;
  height:122px;
  overflow:hidden;
  visibility:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:122px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:120px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:120px;
}
#u42 {
  position:absolute;
  left:2px;
  top:52px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:26px;
  top:21px;
  width:68px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:104px;
  top:18px;
  width:90px;
  height:22px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45_input:disabled {
  color:grayText;
}
#u46 {
  position:absolute;
  left:104px;
  top:58px;
  width:90px;
  height:22px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:104px;
  top:90px;
  width:56px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:164px;
  top:502px;
  width:67px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:164px;
  top:451px;
  width:199px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:118px;
  top:451px;
  width:27px;
  height:27px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:118px;
  top:506px;
  width:27px;
  height:27px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:165px;
  top:608px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:118px;
  top:608px;
  width:27px;
  height:27px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:164px;
  top:659px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:118px;
  top:663px;
  width:27px;
  height:27px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:164px;
  top:557px;
  width:111px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:118px;
  top:557px;
  width:27px;
  height:27px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:118px;
  top:297px;
  width:27px;
  height:27px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:164px;
  top:297px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:1770px;
  top:145px;
  width:92px;
  height:17px;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1770px;
  top:119px;
  width:80px;
  height:19px;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:1686px;
  top:107px;
  width:64px;
  height:64px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u78 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1697px;
  top:119px;
  width:42px;
  height:42px;
  color:#333333;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u80 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1878px;
  top:127px;
  width:25px;
  height:25px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1686px;
  top:200px;
  width:263px;
  height:122px;
  overflow:hidden;
  visibility:hidden;
}
#u83_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:122px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:115px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:115px;
}
#u85 {
  position:absolute;
  left:2px;
  top:50px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:67px;
  top:64px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u86_img.mouseOver {
}
#u86.mouseOver {
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:30px;
  top:65px;
  width:20px;
  height:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:25px;
  top:20px;
  width:25px;
  height:25px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u91 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:67px;
  top:22px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u92_img.mouseOver {
}
#u92.mouseOver {
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:100px;
  top:80px;
  width:280px;
  height:120px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:120px;
}
#u95 {
  position:absolute;
  left:2px;
  top:52px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:134px;
  top:107px;
  width:212px;
  height:65px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:65px;
}
#u97 {
  position:absolute;
  left:2px;
  top:24px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:480px;
  top:658px;
  width:247px;
  height:60px;
  font-size:24px;
  color:#1E1E1E;
  text-align:left;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:60px;
}
#u99 {
  position:absolute;
  left:2px;
  top:16px;
  width:243px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:468px;
  top:2340px;
  width:207px;
  height:60px;
  font-size:24px;
  color:#1E1E1E;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:16px;
  width:203px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:550px;
  top:227px;
  width:150px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:529px;
  top:224px;
  width:10px;
  height:29px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u104_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u104_end {
  position:absolute;
  left:-5px;
  top:12px;
  width:20px;
  height:18px;
}
#u104_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:29px;
}
#u105 {
  position:absolute;
  left:468px;
  top:310px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:830px;
  top:310px;
  width:84px;
  height:24px;
  font-size:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:970px;
  top:310px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:1081px;
  top:310px;
  width:139px;
  height:22px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u112 {
  position:absolute;
  left:1179px;
  top:310px;
  width:22px;
  height:19px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:391px;
  top:374px;
  width:1549px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:1532px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1549px;
  height:1px;
}
#u115 {
  position:absolute;
  left:687px;
  top:308px;
  width:97px;
  height:27px;
  font-size:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:604px;
  top:310px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#0033FF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:468px;
  top:1192px;
  width:145px;
  height:28px;
  font-size:24px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:480px;
  top:1811px;
  width:247px;
  height:60px;
  font-size:24px;
  color:#1E1E1E;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:60px;
}
#u122 {
  position:absolute;
  left:2px;
  top:16px;
  width:243px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:468px;
  top:1231px;
  width:1401px;
  height:555px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:555px;
}
#u124 {
  position:absolute;
  left:2px;
  top:270px;
  width:1397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1659px;
  top:2374px;
  width:181px;
  height:24px;
  font-size:20px;
  color:#0033FF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:491px;
  top:434px;
  width:172px;
  height:32px;
  font-size:28px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:32px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:441px;
  top:430px;
  width:40px;
  height:40px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1342px;
  top:509px;
  width:10px;
  height:84px;
}
#u131_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u131_end {
  position:absolute;
  left:-5px;
  top:67px;
  width:20px;
  height:18px;
}
#u131_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:84px;
}
#u132 {
  position:absolute;
  left:1025px;
  top:509px;
  width:10px;
  height:84px;
}
#u132_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u132_end {
  position:absolute;
  left:-5px;
  top:67px;
  width:20px;
  height:18px;
}
#u132_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:84px;
}
#u133 {
  position:absolute;
  left:1462px;
  top:569px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:1488px;
  top:505px;
  width:54px;
  height:55px;
  font-size:48px;
  color:#666666;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:766px;
  top:565px;
  width:148px;
  height:28px;
  font-size:24px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:28px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:830px;
  top:509px;
  width:84px;
  height:49px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:42px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:49px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:1163px;
  top:565px;
  width:100px;
  height:28px;
  font-size:24px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1178px;
  top:509px;
  width:85px;
  height:49px;
  font-size:42px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:468px;
  top:2410px;
  width:1413px;
  height:429px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1413px;
  height:429px;
}
#u146 {
  position:absolute;
  left:2px;
  top:206px;
  width:1409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:576px;
  top:2414px;
  width:256px;
  height:30px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:1814px;
  top:2572px;
  width:61px;
  height:48px;
  font-size:20px;
  color:#FF9900;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:48px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:520px;
  top:2591px;
  width:1294px;
  height:10px;
}
#u151_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u151_end {
  position:absolute;
  left:1277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u151_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1294px;
  height:2px;
}
#u152 {
  position:absolute;
  left:830px;
  top:1690px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:1040px;
  top:1690px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:1259px;
  top:1690px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:750px;
  top:1690px;
  width:49px;
  height:24px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u159 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:981px;
  top:1690px;
  width:49px;
  height:24px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u161 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:468px;
  top:728px;
  width:1401px;
  height:432px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:432px;
}
#u163 {
  position:absolute;
  left:2px;
  top:208px;
  width:1397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1200px;
  top:1690px;
  width:49px;
  height:24px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u165 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:724px;
  top:1740px;
  width:916px;
  height:46px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:46px;
}
#u167 {
  position:absolute;
  left:2px;
  top:15px;
  width:912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1765px;
  top:1231px;
  width:104px;
  height:479px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:479px;
}
#u169 {
  position:absolute;
  left:2px;
  top:232px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:1817px;
  top:859px;
  width:61px;
  height:48px;
  font-size:20px;
  color:#FF9900;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:48px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:635px;
  top:878px;
  width:1182px;
  height:10px;
}
#u172_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u172_end {
  position:absolute;
  left:1165px;
  top:-5px;
  width:18px;
  height:20px;
}
#u172_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1182px;
  height:2px;
}
#u173 {
  position:absolute;
  left:468px;
  top:1871px;
  width:1412px;
  height:429px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:429px;
}
#u174 {
  position:absolute;
  left:2px;
  top:206px;
  width:1408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:475px;
  top:1887px;
  width:1398px;
  height:396px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:396px;
}
#u176 {
  position:absolute;
  left:2px;
  top:190px;
  width:1394px;
  visibility:hidden;
  word-wrap:break-word;
}
