body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1959px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:369px;
  top:190px;
  width:1590px;
  height:1400px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1590px;
  height:1400px;
}
#u1 {
  position:absolute;
  left:2px;
  top:692px;
  width:1586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:89px;
  top:378px;
  width:280px;
  height:1162px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:1162px;
}
#u4 {
  position:absolute;
  left:2px;
  top:573px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:89px;
  top:190px;
  width:280px;
  height:190px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:190px;
}
#u6 {
  position:absolute;
  left:2px;
  top:87px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:370px;
  top:192px;
  width:1587px;
  height:74px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1587px;
  height:74px;
}
#u8 {
  position:absolute;
  left:2px;
  top:29px;
  width:1583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:404px;
  top:216px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:438px;
  top:218px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:89px;
  top:71px;
  width:1870px;
  height:120px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:120px;
}
#u14 {
  position:absolute;
  left:2px;
  top:52px;
  width:1866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:163px;
  top:107px;
  width:433px;
  height:42px;
  font-size:36px;
  color:#003399;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:42px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1851px;
  top:120px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1800px;
  top:110px;
  width:41px;
  height:41px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:195px;
  top:222px;
  width:70px;
  height:70px;
  color:#333333;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:109px;
  top:336px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:201px;
  top:568px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:201px;
  top:502px;
  width:107px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:201px;
  top:632px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:201px;
  top:698px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:201px;
  top:764px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:173px;
  top:426px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:151px;
  top:502px;
  width:27px;
  height:27px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:151px;
  top:570px;
  width:27px;
  height:27px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:151px;
  top:636px;
  width:27px;
  height:27px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:151px;
  top:700px;
  width:27px;
  height:27px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:151px;
  top:766px;
  width:27px;
  height:27px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:201px;
  top:1022px;
  width:107px;
  height:26px;
  font-size:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:201px;
  top:956px;
  width:107px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:173px;
  top:884px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:151px;
  top:956px;
  width:27px;
  height:27px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:151px;
  top:1026px;
  width:27px;
  height:27px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:111px;
  top:838px;
  width:238px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:221px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:238px;
  height:1px;
}
#u58 {
  position:absolute;
  left:168px;
  top:307px;
  width:121px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:486px;
  top:217px;
  width:13px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:509px;
  top:219px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:92px;
  top:743px;
  width:277px;
  height:68px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:68px;
}
#u65 {
  position:absolute;
  left:2px;
  top:26px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:202px;
  top:763px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:152px;
  top:763px;
  width:27px;
  height:27px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:536px;
  top:320px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:486px;
  top:316px;
  width:40px;
  height:40px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:730px;
  top:406px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1053px;
  top:406px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1333px;
  top:406px;
  width:45px;
  height:26px;
  font-size:22px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1551px;
  top:406px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:630px;
  top:406px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:630px;
  top:466px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:702px;
  top:466px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:1031px;
  top:466px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1338px;
  top:466px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1567px;
  top:466px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:630px;
  top:505px;
  width:1000px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u95 {
  position:absolute;
  left:630px;
  top:534px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:702px;
  top:534px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1031px;
  top:534px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1338px;
  top:534px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1567px;
  top:534px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:630px;
  top:573px;
  width:1000px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u106 {
  position:absolute;
  left:630px;
  top:602px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:702px;
  top:602px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:1031px;
  top:602px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:1338px;
  top:602px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1567px;
  top:602px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:630px;
  top:641px;
  width:1000px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u117 {
  position:absolute;
  left:630px;
  top:669px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:702px;
  top:669px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:1031px;
  top:669px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1338px;
  top:669px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1567px;
  top:669px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:630px;
  top:708px;
  width:1000px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u128 {
  position:absolute;
  left:630px;
  top:737px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:702px;
  top:737px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1031px;
  top:737px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1338px;
  top:737px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:1567px;
  top:737px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:630px;
  top:776px;
  width:1000px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u139 {
  position:absolute;
  left:630px;
  top:1390px;
  width:1006px;
  height:38px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:38px;
}
#u140 {
  position:absolute;
  left:2px;
  top:11px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:630px;
  top:1188px;
  width:1006px;
  height:38px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:38px;
}
#u142 {
  position:absolute;
  left:2px;
  top:11px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:536px;
  top:900px;
  width:169px;
  height:32px;
  font-size:28px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:486px;
  top:896px;
  width:40px;
  height:40px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u146 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:730px;
  top:1066px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:957px;
  top:1066px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:1184px;
  top:1066px;
  width:45px;
  height:26px;
  font-size:22px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:1367px;
  top:1066px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:630px;
  top:1066px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:630px;
  top:1126px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:702px;
  top:1126px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:935px;
  top:1126px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1189px;
  top:1126px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:1383px;
  top:1126px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:630px;
  top:1165px;
  width:1010px;
  height:10px;
}
#u167_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u167_end {
  position:absolute;
  left:993px;
  top:-5px;
  width:18px;
  height:20px;
}
#u167_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1010px;
  height:1px;
}
#u168 {
  position:absolute;
  left:1551px;
  top:1066px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:1573px;
  top:1126px;
  width:45px;
  height:26px;
  font-size:22px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:630px;
  top:1194px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:702px;
  top:1194px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:935px;
  top:1194px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:1189px;
  top:1194px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:1383px;
  top:1194px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:630px;
  top:1233px;
  width:1010px;
  height:10px;
}
#u182_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u182_end {
  position:absolute;
  left:993px;
  top:-5px;
  width:18px;
  height:20px;
}
#u182_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1010px;
  height:1px;
}
#u183 {
  position:absolute;
  left:1562px;
  top:1194px;
  width:67px;
  height:26px;
  font-size:22px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u185 {
  position:absolute;
  left:630px;
  top:1262px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:702px;
  top:1262px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:935px;
  top:1262px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u191 {
  position:absolute;
  left:1189px;
  top:1262px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:1383px;
  top:1262px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u195 {
  position:absolute;
  left:630px;
  top:1301px;
  width:1010px;
  height:10px;
}
#u195_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u195_end {
  position:absolute;
  left:993px;
  top:-5px;
  width:18px;
  height:20px;
}
#u195_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1010px;
  height:1px;
}
#u196 {
  position:absolute;
  left:1573px;
  top:1262px;
  width:45px;
  height:26px;
  font-size:22px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:630px;
  top:1329px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:702px;
  top:1329px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:935px;
  top:1329px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:1189px;
  top:1329px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:1383px;
  top:1329px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:630px;
  top:1368px;
  width:1010px;
  height:10px;
}
#u208_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_end {
  position:absolute;
  left:993px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1010px;
  height:1px;
}
#u209 {
  position:absolute;
  left:1573px;
  top:1329px;
  width:45px;
  height:26px;
  font-size:22px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:630px;
  top:1397px;
  width:13px;
  height:26px;
  font-size:22px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:26px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:702px;
  top:1397px;
  width:145px;
  height:26px;
  font-size:22px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:935px;
  top:1397px;
  width:133px;
  height:26px;
  font-size:22px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:1189px;
  top:1397px;
  width:35px;
  height:26px;
  font-size:22px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:1383px;
  top:1397px;
  width:57px;
  height:26px;
  font-size:22px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:630px;
  top:1436px;
  width:1010px;
  height:10px;
}
#u221_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u221_end {
  position:absolute;
  left:993px;
  top:-5px;
  width:18px;
  height:20px;
}
#u221_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1010px;
  height:1px;
}
#u222 {
  position:absolute;
  left:1562px;
  top:1397px;
  width:67px;
  height:26px;
  font-size:22px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:935px;
  top:1486px;
  width:400px;
  height:20px;
  overflow:hidden;
}
#u224_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u224_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u225 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:20px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u226 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u227_img.mouseDown {
}
#u227.mouseDown {
}
#u228 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:360px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u229_img.mouseDown {
}
#u229.mouseDown {
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u232 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:270px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u234 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:60px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u236 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:90px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u238 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:120px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u240 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:150px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u242 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:180px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u244 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:210px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u246 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:240px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u248 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:300px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u250 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:330px;
  top:0px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u252 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u224_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u224_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u253 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:30px;
}
#u253_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u254 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u255_img.mouseDown {
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u255.mouseDown {
}
#u256 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:360px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u257_img.mouseDown {
  left:-3px;
  top:-3px;
  width:40px;
  height:40px;
}
#u257.mouseDown {
}
#u258 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:30px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u260 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:270px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u262 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:60px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u264 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:90px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u266 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:120px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u268 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:150px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u270 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:180px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u272 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:210px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u274 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:240px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u276 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:300px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u278 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:330px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u280 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u224_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u224_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u281 {
  position:absolute;
  left:196px;
  top:55px;
  width:204px;
  height:22px;
}
#u281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u282 {
  position:absolute;
  left:0px;
  top:58px;
  width:201px;
  height:16px;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u284 {
  position:absolute;
  left:630px;
  top:980px;
  width:111px;
  height:26px;
  font-size:22px;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u286 {
  position:absolute;
  left:876px;
  top:980px;
  width:45px;
  height:26px;
  font-size:22px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u288 {
  position:absolute;
  left:958px;
  top:980px;
  width:67px;
  height:26px;
  font-size:22px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u290 {
  position:absolute;
  left:754px;
  top:976px;
  width:87px;
  height:34px;
  font-size:22px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u291 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:391px;
  top:836px;
  width:1549px;
  height:10px;
}
#u292_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u292_end {
  position:absolute;
  left:1532px;
  top:-5px;
  width:18px;
  height:20px;
}
#u292_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1549px;
  height:1px;
}
